@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-one: #8261ee;
    --color-two: #ff589e;
    --color-text1: #1e1e1e;
    --color-text2: #777;
    --bg-color: #f2f2fe;
    --font: 'Raleway', sans-serif;
}


body {
    color: var(--color-text1);
    line-height: 1.6;
    font-family: var(--font);
}

a, a:hover {
    text-decoration: none;
    
}


.button {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 45px;
    background-color: #fff;
    color: var(--color-text1);
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease 0s;
}