/* Header */
.header {
    position: fixed;
    top: 40px;
    left: 0;
    z-index: 1000;
    width: 100%;
}
.header .inner-main {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 25px 30px;
  border-radius: 40px;
  justify-content: space-between;
  background: #fff;
}

.header .inner-main .inner-logo img {
    height: 30px;
    width: auto;
}

.header .inner-main .inner-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header .inner-main .inner-menu ul li {
    margin-left: 25px;
}

.header .inner-main .inner-menu ul li a {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-text1);
}

.header .inner-main .inner-menu ul li a:hover {
    color: var(--color-two);
}

.header .inner-main .inner-menu ul li a.active {
    color: var(--color-two);
}
/* End Header */
/* Section-one */
.section-one {
background-image: url(../images/banner-bg.png);
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
background-position: center bottom;
display: flex;
align-items: center;
justify-content: center;
}

.section-one .inner-wrap {
    text-align: center;
    max-width: 520px;
    margin: 0 auto;
}

.section-one .inner-title {
    font-size: 36px;
    color: #fff;
    margin-bottom: 25px;
}

.section-one .inner-desc {
    font-size: 15px;
    color: #fff;
    margin-bottom: 20px;
}

.section-one .btn-two {
    background-color: var(--color-two);
    color: #fff;
}

.section-one .btn-two:hover {
    background-color: var(--color-one);
}
/* End Section-one */
/* Section-two */
.section-two {
    margin-top: -220px;
    padding-top: 30px;
}

.section-two .inner-box {
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    background-color: #fff;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
}

.section-two .inner-box:hover .inner-icon {
    background-color: var(--color-two);
    transition: all 0.3s ease 0s;
}

.section-two .inner-box .inner-icon {
    background-color: var(--color-one);
    display: inline-flex;
    padding: 20px;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.section-two .inner-box .inner-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section-two .inner-box .featured-title {
    font-size: 18px;
    margin: 15px 0;
}

.section-two .inner-box .featured-desc {
    font-size: 14px;
    margin-bottom: 0;
    color: var(--color-text2);
}
/* End Section-two */
