/* Header */
.header {
  position: fixed;
  top: 40px;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.header .inner-main {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 25px 30px;
  border-radius: 40px;
  justify-content: space-between;
  background: #fff;
  align-items: center;
}

.header .inner-main .inner-logo img {
  height: 30px;
  width: auto;
}

.header .inner-main .inner-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header .inner-main .inner-menu ul li {
  margin-left: 25px;
}

.header .inner-main .inner-menu ul li a {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text1);
}

.header .inner-main .inner-menu ul li a:hover {
  color: var(--color-two);
}

.header .inner-main .inner-menu ul li a.active {
  color: var(--color-two);
}

.header .inner-icon-mobi {
  display: none;
}

/* End Header */
/* Section-one */
.section-one {
  background-image: url(../images/banner-bg.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-one .inner-wrap {
  text-align: center;
  max-width: 520px;
  margin: 0 auto;
}

.section-one .inner-title {
  font-size: 36px;
  color: #fff;
  margin-bottom: 25px;
}

.section-one .inner-desc {
  font-size: 15px;
  color: #fff;
  margin-bottom: 20px;
}

@media (max-width: 767.98px) {
  .section-one .inner-title {
    font-size: 20px;
  }

  .section-one .inner-desc {
    font-size: 11px;
  }
}

/* End Section-one */
/* Section-two */
.section-two {
  margin-top: -220px;
  padding-top: 30px;
}

.section-two .inner-box {
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.section-two .inner-box:hover .inner-icon {
  background-color: var(--color-two);
  transition: all 0.3s ease 0s;
}

.section-two .inner-box .inner-icon {
  background-color: var(--color-one);
  display: inline-flex;
  padding: 20px;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.section-two .inner-box .inner-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section-two .inner-box .featured-title {
  font-size: 18px;
  margin: 15px 0;
}

.section-two .inner-box .featured-desc {
  font-size: 14px;
  margin-bottom: 0;
  color: var(--color-text2);
}

@media (max-width: 991.98px) {
  .section-two {
    margin-top: 0;
  }
}

/* End Section-two */
/* Section-three */
.section-three {
  padding: 80px 0;
}

.section-three .inner-image {
  text-align: center;
}

.section-three .inner-image img {
  max-width: 100%;
  height: auto;
}

.section-three .inner-content .title {
  font-size: 24px;
  margin-bottom: 30px;
  color: var(--color-text1);
}

.section-three .inner-content .desc {
  font-size: 16px;
  margin-bottom: 30px;
  color: var(--color-text2);
}

.section-three .inner-border-bottom {
  border-bottom: 1px solid #777;
  padding-bottom: 80px;
  margin-bottom: 80px;
}

@media (max-width: 991.98px) {
  .section-three .inner-image {
    margin-bottom: 30px;
  }
}

/* End Section-three */
/* Section-four */
.section-four {
  padding: 80px 0;
  background-image: url(../images/work-process-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.section-four .inner-head {
  text-align: center;
  max-width: 520px;
  margin: 0 auto;
}

.section-four .inner-title {
  font-size: 28px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 500;
}

.section-four .inner-desc {
  font-size: 15px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 40px;
}

.section-four .inner-box {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 30px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
  border-radius: 25px;
}

.section-four .inner-box:hover {
  transform: translateY(-10px);
}

.section-four .inner-box .inner-icon {
  display: inline-flex;
  padding: 20px;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
}

.section-four .inner-box .inner-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section-four .inner-box .work-title {
  font-size: 17px;
  margin: 10px 0 5px;
  color: var(--color-text1);
  font-weight: 400;
}

.section-four .inner-box .work-desc {
  font-size: 14px;
  margin: 0;
  color: var(--color-text2);
}

/* End Section-four */

/* Section-five */
.section-five {
  padding: 80px 0;
}

.section-five .inner-head {
  text-align: center;
  max-width: 520px;
  margin: 0 auto;
}

.section-five .inner-title {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 500;
  color: var(--color-text1);
}

.section-five .inner-desc {
  color: var(--color-text2);
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 20px;
}

.section-five .inner-box {
  padding: 20px 25px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.section-five .chat-icon {
  margin-bottom: 20px;
}

.section-five img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.section-five .chat-desc {
  color: var(--color-text2);
  font-size: 16px;
}

.section-five .chat-info {
  margin: 0;
  padding: 0;
}

.section-five .chat-name {
  font-size: 18px;
  font-weight: 400;
}

.section-five .chat-pos {
  font-size: 16px;
  color: var(--color-two);
}

.section-five .chat-name,
.section-five .chat-pos {
  display: block;
  transition: transform 0.3s ease;
}

.chat-name,
.chat-pos {
  display: block;
  transition: transform 0.3s ease;
}

/* Card 1 & 3 (cột 1 và 3) -> qua phải */
.section-five .container>.row:last-child>div:nth-child(1) .chat-info:hover .chat-name,
.section-five .container>.row:last-child>div:nth-child(1) .chat-info:hover .chat-pos,
.section-five .container>.row:last-child>div:nth-child(3) .chat-info:hover .chat-name,
.section-five .container>.row:last-child>div:nth-child(3) .chat-info:hover .chat-pos {
  transform: translateX(14px);
}

/* Card 2 (cột 2) -> qua trái */
.section-five .container>.row:last-child>div:nth-child(2) .chat-info:hover .chat-name,
.section-five .container>.row:last-child>div:nth-child(2) .chat-info:hover .chat-pos {
  transform: translateX(-14px);
}

/* End Section-five */

/* Section-six */
.section-six {
  padding: 80px 0;
  background-image: url(../images/fun-facts-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-six .inner-box {
  position: relative;
  text-align: center;
}

.section-six .inner-box:hover .inner-content {
  transform: translateY(-10px);
}

.section-six .inner-box .inner-content {
  color: #fff;
  transform: translateY(0);
  transition: all 0.3s ease 0s;
}

.section-six .inner-box::before {
  content: "";
  display: block;
  width: 100px;
  height: 20px;
  background-image: url(../images/circle-dec.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 80%;
  top: 45%;
}

.section-six div:nth-child(4) .inner-box::before {
  display: none;
}

.section-six .inner-box .inner-content .inner-number {
  font-size: 32px;
  font-weight: 700;
}

@media (max-width: 991.98px) {
  .section-six .inner-box::before {
    display: none;
  }

  .section-six .inner-box {
    margin: 10px 0;
  }
}
/* End Section-six */

/* Blog-entries */
.blog-entries {
  padding: 80px 0;
}

.blog-entries .inner-box {
  margin-bottom: 20px;
}

.blog-entries .inner-image {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 15px;
  overflow: visible;
}

.blog-entries .inner-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.blog-entries .inner-content {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

.blog-entries .inner-content .inner-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.blog-entries .inner-content .inner-desc {
  font-size: 13px;
  color: var(--color-text2);
}

@media (max-width: 767.98px) {
  .blog-entries .inner-image {
    max-width: 370px;
    margin: 0 auto;
    aspect-ratio: 16/9;
  }
}

/* End Blog-entries */

@media (max-width: 991.98px) {
  .header .inner-menu {
    display: none;
  }

  .header .inner-icon-mobi {
    display: block;
    font-size: 24px;
  }
}

/* Talk-To-Us */
.talk-to-us {
  padding: 80px 0;
  background-color: #f7f7ff;
}

.talk-to-us .contact-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
}

.talk-to-us .contact-info ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.talk-to-us .contact-info li{
  color: #7a7a7a;
  line-height: 1.5;
  margin-bottom: 16px;
  font-size: 14px;
}

.talk-to-us .form-control {
  border: 1px solid #eee;
  font-size: 14px;
}

.talk-to-us .contact-input {
  padding: 10px 20px;
  height: auto;
  border-radius: 999px;
  margin-bottom: 30px;
}

.talk-to-us .contact-textarea{
  border-radius: 25px;
  padding: 20px;
  min-height: 170px;
  margin-bottom: 30px;
}

.talk-to-us .form-control:focus{
  border-color: #8261ee;
}

.talk-to-us .contact-btn {
  border: 0;
  color: #fff;
  background-color: var(--color-one);
  transition: all 0.3s ease;
}

.talk-to-us .contact-btn:hover {
  background-color: var(--color-two);
}